{
    order error before respond  # Only required for the Caddy 2.4.1 quarterly release. Remove for Caddy 2.4.5 quarterly release.
#    debug
    log {
        format json {
            time_format iso8601
        }
    }
}

:80 {
    log {
        format json {
            time_format iso8601
        }
        output file /var/log/caddy/access.log {
            roll_keep 7
        }
    }
  
    root * /usr/local/www/wordpress
    encode gzip zstd
    php_fastcgi 127.0.0.1:9000 {
        env SERVER_PORT 80
    }
    file_server

    # External access denied to these files.
    @forbidden {
        not path /wp-includes/ms-files.php
        path /wp-admin/includes/*.php
        path /wp-includes/*.php
        path /wp-config.php

        path /wp-content/uploads/*.php
        path /.user.ini
        path /wp-content/debug.log
    }
    respond @forbidden 403

    # Mitigate spam attack logins and comments
    @protected path_regexp (wp-comments-posts|wp-login)\.php$
    handle @protected {
        @no-referer {
            not header Referer https://{host}*
            method POST
        }
        abort @no-referer
    }
}
